.color{
    height: 40px;
    width: 40px;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isActive{
    border: 4px solid white;
}