.colorPicker{
    margin-top: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(3, 50px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.colorPicker-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}