.preview{
    height: 400px;
    width: 300px;
    border-radius: 45px;
    border: 4px solid white;
    background-color: black;
}

video{
    border-radius: 41px;
}

.preview-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}