.photo-toggle-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.photo-toggle{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.134);
    height: 30px;
    width: 180px;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
    /* font-weight: 100; */
}

.photo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isOn{
    background-color: white;
    border-radius: 7px;
}