.shutter-button{
    height: 65px;
    width: 65px;
    border-radius: 999px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 4px solid rgb(65, 65, 65);
    transition: all 0.5s ease-out;
}

.photo-btn{
    background-color: white;
}

.video-btn{
    background-color: red;
}