* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  background-color: rgb(225, 63, 133);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}

/* .app-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

.Buttons{
  margin-top: 10px;
  margin-bottom: 15px;
  /* width: 100vw; */
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}